<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amrita Alumni</title>
    <link rel="stylesheet" href="Clubs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu-right-alt.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <div class="header">
    <img src="logo.png" alt="AMRITA ALUMNI" height="100px" width="100px" style="position: relative;margin-left:20px;margin-right: 0px;">
    <a href="home" class="logo">AMRITA ALUMNI</a>
    <div class="navigation">
        <ul class="menu">
            <div class="close-btn"></div>
            <li class="menu_item">
                <a class="sub-btn">About <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                <li class="sub-item"><a href="" >About AAA</a></li>
                <li class="sub-item"><a href="" >Contact Us</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn">Events<i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li class="sub-item"><a href="" >Featured Events</a></li>
                    <li class="sub-item"><a  href="" >Reunions</a></li>
                    <li class="sub-item"><a  href="" >Event Space</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn">Programs & Perks <i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li class="sub-item"><a  href="" >Alumni Perks</a></li>
                <li class="sub-item"><a  href="" >Alumni Membership</a></li>
                <li class="sub-item"><a  href="" >AAA Membership Card</a></li>
            </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn">Communities <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li class="sub-item"><a  href="Clubs" >Clubs & Groups</a></li>
                    <li class="sub-item"><a  href="youngalumni" >Young Alumni</a></li>
                    <li class="sub-item"><a  href="" >Students</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn" >Reading & Resources <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                <li class="sub-item"><a  href="" >Career Connections</a></li>
                <li class="sub-item"><a   href="https://www.amrita.edu/news-all/" >News & Stories</a></li>
                <li class="sub-item"><a  href="https://onlineamrita.com/" >Learn</a></li>
            </ul>
            </li>  
            <li class="menu_item">
              <a href="login" class="sub-btn" >Login <i class="fas fa-angle-up"></i></a>
            </li>
        </ul>
    </div>
    <div class="menu-btn" ></div>
  </div>

  <div class="image-container">
    <img src="https://images.pexels.com/photos/3471028/pexels-photo-3471028.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" >
    <div class="overlay-text">
      <p style="font-weight: 600; font-size:30px ;">About Clubs and Groups</p>
      <p style="font-size: 70px; font-weight: 800; margin-top: 40px;">Your Amrita</p>
      <p style="font-size: 70px; font-weight: 800; margin-top: 60px;">Community Awaits</p>
      <p style="margin-top: 60px;font-size: 28px;font-weight: 500;line-height: 1.25;">Discover alumni communities by affiliations that are relevant 
        to you with local and virtual offerings.</p>
    </div>
  </div>
   
  <div class="meet">
    <h1 style="font-size: 60px; padding-top: 60px;font-weight: 150px;">Meet Your Amrita</h1>  
    <h1  style="font-size: 60px; padding-top: 25px;font-weight: 150px;">Community</h1>
    <p style="padding-top: 50px;font-size: 25px;text-align: center;">Here you’ll connect with other alumni; professional groups for networking,
      <br>advice, and opportunities; and shared interest groups hosting a space for
      <br> discussion, support, and celebration.</p>
  </div>

  <div class="cover">
    <div class="box">
      <img src="https://assets.stanford.edu/i/200x200/smart/filters:quality(60)/f/103430/2700x1013/18b7146e3b/health-and-wellness-kayaking.jpg" alt="">
      <h2 style="text-align: center;margin-top: 25px;">Interest Groups</h2>
      <p style="text-align: center;margin-top: 10px;font-weight: 500;">Hobbies. Community service. Student activities. Even the 
        classifieds. Whatever your focus, there’s likely a group of alums
         who share your same interest.</p> <br>
         <a href="" style="color: red;padding: 20px;margin-left: 170px;" class="arrow-link">View interest groups<span class="arrow-icon">➔</span></a>
    </div>
    <div class="box1">
      <img src="https://assets.stanford.edu/i/200x200/smart/filters:quality(60)/f/103430/2700x1013/f134a087bb/career-mid-career.jpg" alt="">
      <h2 style="text-align: center;margin-top: 25px;">professional Groups</h2>
      <p style="text-align: center;margin-top: 15px;font-weight: 500;">Connect with others in your industry, get advice from alums or
         build your network through a professional group.</p> <br> <br>
         <a href="" style="color: red;padding: 20px;margin-left: 170px;" class="arrow-link">Explore professional groups<span class="arrow-icon">➔</span></a>
      
    </div>
    
  </div>

  <div class="cover1">
    <div class="box2">
      <img src="https://assets.stanford.edu/i/200x200/smart/filters:quality(60)/f/103430/4032x3024/7989733d2b/regional-group.jpg" alt="">
      <h2 style="text-align: center;margin-top: 25px;">Regional Groups</h2>
      <p style="text-align: center;margin-top: 10px;font-weight: 500;">Looking to meet Amrita alumni in your area? Find a regional
         group to hear first about events in your neighborhood.</p> <br>
         <a href="" style="color: red;padding: 20px;margin-left: 170px;" class="arrow-link">Browse groups<span class="arrow-icon">➔</span></a>
    </div>
    <div class="box3">
      <img src="https://assets.stanford.edu/i/200x200/smart/filters:quality(60)/f/103430/1412x1303/f83e57f0d1/2009-alums.jpg" alt="">
      <h2 style="text-align: center;margin-top: 25px;">Shared Identity Groups</h2>
      <p style="text-align: center;margin-top: 15px;font-weight: 500;">Find communities that share your identity, culture, race,
         ethnicity, and offerings for young alumni.</p> <br>
         <a href="" style="color: red;padding: 20px;margin-left: 170px;" class="arrow-link">View shared identity groups<span class="arrow-icon">➔</span></a>
    </div>
  </div>
   <script type="text/javascript">
    $(document).ready(function(){
        $(".sub-btn").click(function(){
            $(this).next(".sub-menu").slideToggle();
        });
    });
    var menu=document.querySelector(".menu");
    var menuBtn=document.querySelector(".menu-btn");
    var closeBtn=document.querySelector(".close-btn");
    menuBtn.addEventListener("click",()=>{
        menu.classList.add("active");
    });
    closeBtn.addEventListener("click",()=>{
        menu.classList.remove("active");
    });
    window.addEventListener("scroll",function(){
var header=document.querySelector("header")
header.classList.toggle("sticky",window.scrollY>0);
    });
   </script>
   <br><br>


   <div class="Explore">
    <h1 style="font-size: 60px; padding-top: 60px;font-weight: 150px;">Explore Alumni Groups </h1>  
    <p style="padding-top: 50px;font-size: 25px;text-align: center; line-height: 1.2;">Amrita Alumni Groups is the place to find Alumni volunteer-led <br>
       communities and programs worldwide. Discover alumni communities and <br>
        start a conversation or look out for upcoming events near where you live or <br>
       with communities important to you.
  </div>

  <div class="cover2">
    <div class="box4">
      <h2 style="text-align: center;">Communities</h2>
      <p style="margin-top: 25px;">Communities range in size and topic
        from regional and professional
         groups to shared interest identity,
         class cohorts, and other interest
         groups—you can stay connected
         with the Stanford experience.</p>
    </div>

    <div class="box5">
      <h2 style="text-align: center;">Events</h2>
      <p style="margin-top: 25px;">Faculty speaker events, community
         service, social gatherings, or
         professional networking, you’ll find
         in-person and online opportunities
         to learn and have fun with fellow
         alumni.</p>
    </div >

    <div class="box6">
      <h2 style="text-align: center;">Conversations</h2>
      <p style="margin-top: 25px;">Ask a group for recommendations
         when moving to a new city, organize
         an AMA (ask me anything) in a group
         discussion board, or reach out
         to another alum in a private direct
         message. Stanford Alumni Groups
         offers you a place to connect in real-
        time or asynchronously with your
         alumni community.</p>
    </div>

  </div>
        
       
  <footer class="footer">
    <div class="footer-top">
      <div class="container1">
        <div class="col1">
          <a href="" class="Brand" style="width: max-content;">Get in Touch with us</a>
          <ul class="media-icons">
            <li><a href="https://www.facebook.com/">
              <i class="fab fa-facebook"></i>
            </a></li>
            <li><a href="https://www.twitter.com/">
              <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="https://www.instagram.com/">
              <i class="fab fa-instagram"></i>
            </a></li>
            <li><a href="https://www.tumblr.com/">
              <i class="fab fa-tumblr"></i>
            </a></li>
            <li><a href="https://www.linkedin.com/">
              <i class="fab fa-linkedin"></i>
            </a></li>
          </ul>
        </div>
        <div class="col2">
          <ul class="menu">
            <li><h4>About</h4></li>
            <li style="width: max-content;"><a href="home">About AAA</a></li>
            <li style="width: max-content;"><a href="#">Contact Us</a></li>
          </ul>
          <ul class="menu">
            <li><h4>Events</h4></li>
            <li style="width: max-content;"><a href="#">Featured Events</a></li>
            <li style="width: max-content;"><a href="#">Reunions</a></li>
            <li style="width: max-content;"><a href="#">Event Space</a></li>
          </ul>
          <ul class="menu">
            <li><h4>Programs & Perks</h4></li>
            <li><a href="#">Alumni Perks</a></li>
            <li style="width: max-content;"><a href="#">Alumni Membership</a></li>
          </ul>
          <ul class="menu">
            <li><h4>Communities</h4></li>
            <li style="width: max-content;"><a href="Clubs">Clubs & Groups</a></li>
            <li style="width: max-content;"><a href="youngalumni">Young Alumni</a></li>
            <li style="width: max-content;"><a href="#">Students</a></li>
          </ul>
          <ul class="menu">
            <li><h4>Reading & Resources</h4></li>
            <li><a href="#">Learn</a></li>
            <li style="width: max-content;"><a href="#">Career Connections</a></li>
            <li style="width: max-content;"><a href="#">News & Stories</a></li>
          </ul>
        </div>
        <div class="col3">
          <h4>Address</h4>
          <li style="list-style: none;width: max-content;">Amrita Vishwavidyapeetam <br>
           Amritanagar,<br> Ettimadai, Coimbatore <br>Tamil Nadu 641112
          </li>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container1">
        <p>Amrita Vishwavidyapeetam - @All Rights Reserved</p>
        <ul class="service-icons">
          <li>
            <a href="#">
              <i class="fab fa-cc-amazon-pay"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-cc-mastercard"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-cc-apple-pay"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-cc-stripe"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-cc-visa"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </footer>      
  
</body>

</html>