<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amrita Alumni</title>
    <link rel="stylesheet" href="youngalumni.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/menu-right-alt.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <div class="header">
    <img src="logo.png" alt="AMRITA ALUMNI" height="100px" width="100px" style="position: relative;margin-left:20px;margin-right: 0px;">
    <a href="home" class="logo">AMRITA ALUMNI</a>
    <div class="navigation">
        <ul class="menu">
            <div class="close-btn"></div>
            <li class="menu_item">
                <a class="sub-btn">About <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                <li class="sub-item"><a href="home" >About AAA</a></li>
                <li class="sub-item"><a href="" >Contact Us</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn">Events<i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li class="sub-item"><a href="" >Featured Events</a></li>
                    <li class="sub-item"><a  href="" >Reunions</a></li>
                    <li class="sub-item"><a  href="" >Event Space</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn">Programs & Perks <i class="fas fa-angle-down"></i></a>
            <ul class="sub-menu">
                <li class="sub-item"><a  href="" >Alumni Perks</a></li>
                <li class="sub-item"><a  href="" >Alumni Membership</a></li>
                <li class="sub-item"><a  href="" >AAA Membership Card</a></li>
            </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn">Communities <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li class="sub-item"><a  href="Clubs" >Clubs & Groups</a></li>
                    <li class="sub-item"><a  href="youngalumni" >Young Alumni</a></li>
                    <li class="sub-item"><a  href="" >Students</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="sub-btn" >Reading & Resources <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                <li class="sub-item"><a  href="" >Career Connections</a></li>
                <li class="sub-item"><a   href="https://www.amrita.edu/news-all/" >News & Stories</a></li>
                <li class="sub-item"><a  href="https://onlineamrita.com/" >Learn</a></li>
            </ul>
            </li>  
            <li class="menu_item">
              <a href="login" class="sub-btn" >Login <i class="fas fa-angle-up"></i></a>
            </li>
        </ul>
    </div>
    <div class="menu-btn" ></div>
  </div>
  <div class="image-container">
    <img src="https://images.pexels.com/photos/7942471/pexels-photo-7942471.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" >
    <div class="overlay-text">
      <p style="font-weight: 600; font-size:30px ;">Young Alumni</p>
      <p style="font-size: 70px; font-weight: 800; margin-top: 40px;">Find What You Need.</p>
      <p style="font-size: 80px; font-weight: 800; margin-top: 60px;">Including One</p>
      <p style="font-size: 80px; font-weight: 800; margin-top: 60px;">Another.</p>
      <p style="margin-top: 60px;font-size: 26px;font-weight: 500;">Community, classmates, career connections? You’ll find them here.
         Get connected to the things that make life as an alum easier—no matter where life takes you.</p>
    </div>
  </div>
   
  <div class="meet">
    <h1 style="font-size: 60px; padding-top: 60px;font-weight: 150px;">Amrita Where You Are</h1>  
    <p style="padding-top: 50px;font-size: 25px;text-align: center;margin-left: 100px;">True story: You can keep making Amrita memories no matter how<br> long it’s been since your days on the Farm.</p>
  </div>

  <div class="container3">
    <div class="image-container3">
        <img src="https://assets.stanford.edu/i/800x0/filters:quality(60)/f/103430/1200x800/37972a0d38/get-stanford-where-you-are_6.jpg" alt="Image">
    </div>
    <div class="text-container3">
        <p style="line-height: 1.25;">Events and alumni could be in your area, and your first step to finding them is keeping your preferred physical and 
             email addresses up to date. (Bonus: This is how you get AMRITA magazine, too.)</p> 
        <br>
        <a href="" style="color: red; text-decoration: underline;">Update physical address</a> <br>
        <a href="" style="color: red; text-decoration: underline;">Update email address</a>
    </div>
  </div>

  <div class="cover">
    <div class="box">
      <img src="https://assets.stanford.edu/i/800x0/filters:quality(60)/f/103430/5000x3333/5f34f26c53/get-stanford-where-you-are_1.jpg" alt="">
      <h2 style="text-align: center;margin-top: 25px;">Your Go-To for Alumni Groups</h2>
      <p style="text-align: center;margin-top: 10px;font-weight: 500;">Community awaits! From the local to the professional to the shared-identity,
         get in touch with the people you want to meet on Amrita Alumni Groups.</p> <br>
         <a href="Clubs" style="color: red;padding: 20px;margin-left: 170px;" class="arrow-link">Discover groups<span class="arrow-icon">➔</span></a>
    </div>
    <div class="box1">
      <img src="https://assets.stanford.edu/i/800x0/filters:quality(60)/f/103430/1200x800/528d71dc19/get-stanford-where-you-are_10.jpg" alt="">
      <h2 style="text-align: center;margin-top: 25px;">Events for Every Alum
      </h2>
      <p style="text-align: center;margin-top: 15px;font-weight: 500;">Go for a hike, practice public speaking, reconnect at reunion—take your
         pick of alumni events that make alumnihood memorable.</p> <br> <br>
         <a href="" style="color: red;padding: 20px;margin-left: 170px;" class="arrow-link">Get out there <span class="arrow-icon">➔</span></a>
      
    </div>
    
  </div>

   <script type="text/javascript">
    $(document).ready(function(){
        $(".sub-btn").click(function(){
            $(this).next(".sub-menu").slideToggle();
        });
    });
    var menu=document.querySelector(".menu");
    var menuBtn=document.querySelector(".menu-btn");
    var closeBtn=document.querySelector(".close-btn");
    menuBtn.addEventListener("click",()=>{
        menu.classList.add("active");
    });
    closeBtn.addEventListener("click",()=>{
        menu.classList.remove("active");
    });
    window.addEventListener("scroll",function(){
var header=document.querySelector("header")
header.classList.toggle("sticky",window.scrollY>0);
    });
   </script>
   <br><br>   

<div class="career">
  <h1 style="font-size: 60px; padding-top: 20px;font-weight: 150px;text-align: left;margin-left: -80px;">Career Support to Move</h1>  
  <h1  style="font-size: 60px; padding-top: 25px;font-weight: 150px;margin-top: 30px;text-align: left;margin-left: -390px;">You Forward</h1>
  <p style="padding-top: 50px;font-size: 22px; text-align: left;line-height: 1.25">Building your network? Seeking a mentor? Offering career help to others? <br>Connect with 
    your network of 240,000 alumni worldwide for advice and <br> opportunities so you can take that next step with confidence.</p>
</div>


<div class="cover2">
  <div class="box4">
    <h2 style="text-align: center;">Alumni Connections</h2>
    <p style="margin-top: 25px;">Find classmates, alums in your industry, or those offering support
       on the only verified online listing of Amrita alumni.</p> <br> <br>
    <a href="" class="arrow-link" style="color: red;">Search the Alumni Directory <span class="arrow-icon">➔</span></a>
  </div>

  <div class="box5">
    <h2 style="text-align: center;color: black;">Jobs from Alums</h2>
    <p style="margin-top: 25px;color: black;">Search (or share!) jobs and event opportunities on the private Amrita Alumni
       LinkedIn Group for Amrita students and alums.</p> <br>
    <a href="" class="arrow-link" style="color: red;">Join group on LinkedIn <span class="arrow-icon">➔</span></a>
  </div >

  <div class="box6">
    <h2 style="text-align: center; color: black;">Industry Groups</h2> 
    <p style="margin-top: 25px; color: black;">Open the door to connections, events, and advice by getting in touch 
      with alumni who share your professional interests.</p><br>
    <a href="" class="arrow-link" style="color: red;">Join an industry group <span class="arrow-icon">➔</span></a>
  </div>
</div>

<div class="career1">
  <h1 style="font-size: 60px; padding-top: 20px;font-weight: 150px;text-align: left;margin-left: -105px;">Experience Amrita in a</h1>  
  <h1  style="font-size: 60px; padding-top: 25px;font-weight: 150px;margin-top: 30px;text-align: left;margin-left: -475px;">New Way</h1>
  <p style="padding-top: 50px;font-size: 22px; text-align: left;line-height: 1.25">Got a community or cause that’s close to your heart? You can make a <br>difference—and other alums want to join you.
     Get connected to a volunteer <br>opportunity below.</p>
</div>

<div class="container2">
  <div class="image-container2">
      <img src="https://assets.stanford.edu/i/800x0/filters:quality(60)/f/103430/1200x800/18125ca5a7/beyond-the-farm_1.jpg" alt="Image">
  </div>
  <div class="text-container2">
    <h3>Go Beyond the Farm</h3>
      <p style="margin-top: 20px;">Rally your fellow alums, family, and friends to give their time to a
         cause you care about during the Beyond the Farm Alumni Day of Service.</p> 
      <br>
      <a href="" style="color: red;" class="arrow-link">Learn more <span class="arrow-icon">➔</span></a> <br>
  </div>
</div>

<div class="container3">
  <div class="image-container3">
      <img src="https://assets.stanford.edu/i/800x0/filters:quality(60)/f/103430/5000x3333/1c53f94bed/groups2.jpg" alt="Image">
  </div>
  <div class="text-container3">
    <h3>Get Involved in Alumni<br> Groups</h3>
      <p style="margin-top: 20px;">Your input could go a long way in helping to shape events and programming for 
        regional, professional, and identity-based clubs and groups.</p> 
      <br>
      <a href="" style="color: red;" class="arrow-link">Learn more <span class="arrow-icon">➔</span></a> <br>
  </div>
</div>


       
<footer class="footer">
  <div class="footer-top">
    <div class="container1">
      <div class="col1">
        <a href="" class="Brand" style="width: max-content;">Get in Touch with us</a>
        <ul class="media-icons">
          <li><a href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a></li>
          <li><a href="https://www.twitter.com/">
            <i class="fab fa-twitter"></i>
          </a></li>
          <li><a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a></li>
          <li><a href="https://www.tumblr.com/">
            <i class="fab fa-tumblr"></i>
          </a></li>
          <li><a href="https://www.linkedin.com/">
            <i class="fab fa-linkedin"></i>
          </a></li>
        </ul>
      </div>
      <div class="col2">
        <ul class="menu">
          <li><h4>About</h4></li>
          <li style="width: max-content;"><a href="home">About AAA</a></li>
          <li style="width: max-content;"><a href="#">Contact Us</a></li>
        </ul>
        <ul class="menu">
          <li><h4>Events</h4></li>
          <li style="width: max-content;"><a href="#">Featured Events</a></li>
          <li style="width: max-content;"><a href="#">Reunions</a></li>
          <li style="width: max-content;"><a href="#">Event Space</a></li>
        </ul>
        <ul class="menu">
          <li><h4>Programs & Perks</h4></li>
          <li><a href="#">Alumni Perks</a></li>
          <li style="width: max-content;"><a href="#">Alumni Membership</a></li>
        </ul>
        <ul class="menu">
          <li><h4>Communities</h4></li>
          <li style="width: max-content;"><a href="Clubs">Clubs & Groups</a></li>
          <li style="width: max-content;"><a href="youngalumni">Young Alumni</a></li>
          <li style="width: max-content;"><a href="#">Students</a></li>
        </ul>
        <ul class="menu">
          <li><h4>Reading & Resources</h4></li>
          <li><a href="#">Learn</a></li>
          <li style="width: max-content;"><a href="#">Career Connections</a></li>
          <li style="width: max-content;"><a href="#">News & Stories</a></li>
        </ul>
      </div>
      <div class="col3">
        <h4>Address</h4>
        <li style="list-style: none;width: max-content;">Amrita Vishwavidyapeetam <br>
         Amritanagar,<br> Ettimadai, Coimbatore <br>Tamil Nadu 641112
        </li>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container1">
      <p>Amrita Vishwavidyapeetam - @All Rights Reserved</p>
      <ul class="service-icons">
        <li>
          <a href="#">
            <i class="fab fa-cc-amazon-pay"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-cc-mastercard"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-cc-apple-pay"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-cc-stripe"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-cc-visa"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</footer>  


</body>

</html>